# Database
MYSQL_URL=localhost:3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=kaellybot

# Amqp
RABBITMQ_ADDRESS=amqp://localhost:5672

# Twitter
TWITTER_BEARER_TOKEN=
TWEET_COUNT=20
HTTP_TIMEOUT=10

# Miscellaneous=
LOG_LEVEL=info # trace, debug, info, warn, error, fatal, panic
PRODUCTION=false